---
import FooterCTA from "../components/FooterCTA.astro";
import Hero from "../components/Hero.astro";
import LogoCloud from "../components/LogoCloud.astro";
import Process from "../components/Process.astro";
import Services from "../components/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <Hero />
    <Services />
    <Process />
    <FooterCTA />
    <LogoCloud />
  </main>
</Layout>
