---
import { Image } from "astro:assets";
import hero from "../images/marketing_funnel.svg";
---

<div class="relative isolate overflow-hidden bg-white">
  <div
    class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-20 gap-12 items-center"
  >
    <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      <h1
        class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
      >
        Komplex marketing megoldások
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
        cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
      </p>
      <dl
        class="mt-6 max-w-xl space-y-4 text-base leading-7 text-gray-600 lg:max-w-none"
      >
        <div class="relative pl-9">
          <dt class="inline font-semibold text-gray-900">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#472692"
              class="absolute left-1 h-7 w-7"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd"></path>
            </svg>

             Full Service Marketing
          </dt>
          <dd class="inline"></dd>
        </div>
        <div class="relative pl-9">
          <dt class="inline font-semibold text-gray-900">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#472692"
              class="absolute left-1 h-7 w-7"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd"></path>
            </svg>

             Online Marketing
          </dt>
          <dd class="inline"></dd>
        </div>
        <div class="relative pl-9">
          <dt class="inline font-semibold text-gray-900">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#472692"
              class="absolute left-1 h-7 w-7"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd"></path>
            </svg>

             Webfejlesztés
          </dt>
          <dd class="inline"></dd>
        </div>
      </dl>
      <div class="mt-10 flex items-center gap-x-6">
        <a
          href="#szolgaltatasok"
          class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Szolgáltatások</a
        >
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
          >Kapcsolat <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:mr-0 lg:mt-0 e lg:flex-none"
    >
      <div class="w-full flex-none sm:max-w-5xl">
        <Image loading={"eager"} class="" src={hero} alt="Marketing" />
      </div>
    </div>
  </div>
</div>
