---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";

type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<div
  class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
>
  {posts.map((post) => <Post post={post} />)}

  <!-- More posts... -->
</div>
