---
import { Image } from "astro:assets";
import processOne from "../images/processOne.png";
import processTwo from "../images/rocket.png";
import processThree from "../images/elemzes.png";
---

<div class="bg-white">
  <div class="relative isolate overflow-hidden">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="font-semibold uppercase text-base text-primary first-letter:leading-7"
        >
          Rólunk
        </h2>
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Munkamódszerünk
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Több mint 10 éves tapasztalattal és folyamatos tudásvággyal fűszerezve
          tudjuk, hogy cégének, vállalkozásának egyediségre, professzionális
          stratégiára, megjelenésre van szüksége.
        </p>
      </div>
    </div>
  </div>
  <div
    class="mx-auto max-w-7xl items-center py-24 pt-10 flex gap-y-12 flex-col lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 xl:gap-x-20"
  >
    <div class="px-6 lg:px-0 lg:pt-4 order-2 lg:order-1">
      <Image class="" src={processOne} alt="Munkafolyamat ábra" />
    </div>
    <div class="px-6 lg:px-0 lg:pt-4 order-1 lg:order-2">
      <div class="mx-auto max-w-lg">
        <div class="mt-6">
          <div
            class="font-display text-base font-semibold before:text-neutral-300 before:content-['/_'] text-primary"
            aria-hidden="true"
          >
            01
          </div>
          <h2
            class="mt-2 font-display text-3xl font-medium tracking-tight text-neutral-950 sm:text-4xl"
          >
            Egyeztetés
          </h2>
          <div class="mt-6">
            <div class="space-y-6 text-base text-neutral-600">
              <p>
                We work closely with our clients to understand their <strong
                  class="font-semibold text-neutral-950">needs</strong
                > and goals, embedding ourselves in their every day operations
                to understand what makes their business tick.
              </p>
            </div>
          </div>
          <h3
            class="mt-12 font-display text-base font-semibold text-neutral-950"
          >
            Folyamatok ebben a fázisban
          </h3><div>
            <ul role="list" class="text-base text-neutral-600 mt-8">
              <li class="group mt-10 first:mt-0">
                <div style="opacity: 1; transform: none;">
                  <div
                    class="pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
                  >
                    <strong class="font-semibold text-neutral-950"
                      >Egyeztetés.
                    </strong>Meghatározzuk a célokat, elkezdünk
                    „együttgondolkodni”.
                  </div>
                </div>
              </li><li class="group mt-10 first:mt-0">
                <div style="opacity: 1; transform: none;">
                  <div
                    class="pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
                  >
                    <strong class="font-semibold text-neutral-950"
                      >Adat- és információgyűjtés.
                    </strong>Briefet készítünk és dolgozunk fel. Megismerjük a
                    termék/szolgáltatás előnyeit és a hozzá kapcsolódó adatokat,
                    információkat.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Second part -->
  <div
    class="mx-auto max-w-7xl items-center py-24 pt-10 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 xl:gap-x-20 flex gap-y-12 flex-col"
  >
    <div class="px-6 lg:px-0 lg:pt-4">
      <div class="mx-auto max-w-lg">
        <div class="mt-6">
          <div
            class="font-display text-base font-semibold before:text-neutral-300 before:content-['/_'] text-primary"
            aria-hidden="true"
          >
            02
          </div>
          <h2
            class="mt-2 font-display text-3xl font-medium tracking-tight text-neutral-950 sm:text-4xl"
          >
            Piackutatás
          </h2>
          <div class="mt-6">
            <div class="space-y-6 text-base text-neutral-600">
              <p>
                We work closely with our clients to understand their <strong
                  class="font-semibold text-neutral-950">needs</strong
                > and goals, embedding ourselves in their every day operations
                to understand what makes their business tick.
              </p>
            </div>
          </div>
          <h3
            class="mt-12 font-display text-base font-semibold text-neutral-950"
          >
            Folyamatok ebben a fázisban
          </h3><div>
            <ul role="list" class="text-base text-neutral-600 mt-8">
              <li class="group mt-10 first:mt-0">
                <div style="opacity: 1; transform: none;">
                  <div
                    class="pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
                  >
                    <strong class="font-semibold text-neutral-950"
                      >Konkurencia elemzés, piackutatás
                    </strong>Megismerjük a konkurenciát, piackutatást végzünk.
                    Kitörési és versenyelőny pontokat határozunk meg.
                  </div>
                </div>
              </li><li class="group mt-10 first:mt-0">
                <div style="opacity: 1; transform: none;">
                  <div
                    class="pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
                  >
                    <strong class="font-semibold text-neutral-950"
                      >Tervezés, javaslattétel.
                    </strong>Megtervezzük a stratégiát, meghatározzuk az
                    eszközöket, csatornákat. Javaslatot teszünk azok
                    költséghatékony, de profi használatára.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="px-6 lg:px-0 lg:pt-4">
      <Image class="" src={processThree} alt="Munkafolyamat ábra" />
    </div>
  </div>
  <!-- Third part -->
  <div
    class="mx-auto max-w-7xl items-center py-24 pt-10 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 xl:gap-x-20 flex gap-y-12 flex-col"
  >
    <div class="md:mx-auto lg:mx-0 lg:mt-0 order-2 lg:order-1">
      <Image class="" src={processTwo} alt="Munkafolyamat ábra" />
    </div>
    <div class="px-6 lg:px-0 lg:pt-4 order-1 lg:order-2">
      <div class="mx-auto max-w-lg">
        <div class="mt-6">
          <div
            class="font-display text-base font-semibold before:text-neutral-300 before:content-['/_'] text-primary"
            aria-hidden="true"
          >
            03
          </div>
          <h2
            class="mt-2 font-display text-3xl font-medium tracking-tight text-neutral-950 sm:text-4xl"
          >
            Megvalósítás
          </h2>
          <div class="mt-6">
            <div class="space-y-6 text-base text-neutral-600">
              <p>
                We work closely with our clients to understand their <strong
                  class="font-semibold text-neutral-950">needs</strong
                > and goals, embedding ourselves in their every day operations
                to understand what makes their business tick.
              </p>
            </div>
          </div>
          <h3
            class="mt-12 font-display text-base font-semibold text-neutral-950"
          >
            Folyamatok ebben a fázisban
          </h3><div>
            <ul role="list" class="text-base text-neutral-600 mt-8">
              <li class="group mt-10 first:mt-0">
                <div style="opacity: 1; transform: none;">
                  <div
                    class="pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
                  >
                    <strong class="font-semibold text-neutral-950"
                      >Megvalósítás.
                    </strong>A meghatározott stratégia mentén kialakítjuk,
                    felépítjük és működtetjük a kommunikációs csatornákat,
                    eszközöket. ”.
                  </div>
                </div>
              </li><li class="group mt-10 first:mt-0">
                <div style="opacity: 1; transform: none;">
                  <div
                    class="pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden relative before:absolute after:absolute before:bg-neutral-950 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px"
                  >
                    <strong class="font-semibold text-neutral-950"
                      >Statisztikák és jelentések készítése.
                    </strong>Hisszük és tudjuk, hogy minden mérhető. Így a
                    marketing tevékenység is. Minden esetben mérjük és
                    értékeljük az elvégzett munkafolyamatokat.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
